{% extends 'Ss4sCoreBundle::base.html.twig' %}

{% block title %}
	{{ parent() }} Crédits
{% endblock %}

{% block content %}
	<div class="custom-module">
		<div class="custom-module-header">
			<div class="custom-mini-icon">
				<span class="glyphicon glyphicon-info-sign"></span>
			</div>
			<h3>
				Mentions légales
			</h3>
		</div>
		<div class="well">
			<h4>Objectif</h4>
			<p>L'objectif de cette application est de permettre à ses utilisateurs d'utiliser des services qui utilisent les bases de données de l'université de Strasbourg.
			</p>
		</div>
	</div>
{% endblock %}