
    <div class="custom-module-inner">
        <div class="well">
            <div class="row">
                <div class="col-md-3 custom-doc-nav">
                    <ul class="nav nav-tabs nav-stacked affix-top" data-spy="affix" data-offset-top="280" data-offset-bottom="200">      
<li><a class="reference internal" href="#creer-un-service">Créer un service</a></li>
<li><a class="reference internal" href="#parametres-d-un-service">Paramètres d&#8217;un service</a></li>
<li><a class="reference internal" href="#informations-d-un-service">Informations d&#8217;un service</a></li>
<li><a class="reference internal" href="#droit-d-acces-a-un-service">Droit d&#8217;accès à un service</a></li>
<li><a class="reference internal" href="#suppression-de-service">Suppression de service</a></li>
<li><a class="reference internal" href="#changer-le-statut-d-un-service">Changer le statut d&#8217;un service</a></li>
<li><a class="reference internal" href="#gestion-des-administrateurs">Gestion des administrateurs</a></li>
                    </ul>
                </div>
                <div class="col-md-9">
<div class="section" id="creer-un-service">
<h1>Créer un service<a class="headerlink" href="#creer-un-service" title="Permalink to this headline">¶</a></h1>
<p>Pour créer un service Il suffit de suivre les instructions suivantes :</p>
<ul class="simple">
<li>Cliquer sur &#8220;Ajouter un service&#8221; dans le panneau d&#8217;administration situé en haut de page.</li>
<li>Donner un nom au plugin dans le champ prévu à cet effet.</li>
<li>Décrire le service créé dans le champ prévu à cet effet.</li>
<li>Choisir le plug-in à implémenter parmi la sélection.</li>
<li>Choisir le statut du service au moment de sa création (En ligne ou en développement si le service créé implémente un plugin en cours de développement) vide une icone par défaut sera alors affichée.</li>
<li>Ajouter les groupes qui auront accès à ce service.</li>
<li>Cliquer sur valider.</li>
</ul>
</div>
<div class="section" id="parametres-d-un-service">
<h1>Paramètres d&#8217;un service<a class="headerlink" href="#parametres-d-un-service" title="Permalink to this headline">¶</a></h1>
<p>Lors de la création d&#8217;un service les différents paramètres applicables à ce service sont ceux fournis par défaut. Pour les éditer il faut suivre les instructions suivantes.</p>
<ul class="simple">
<li>Cliquer sur &#8220;Editer les paramètres&#8221; situé au-dessus du lien du service concerné.</li>
<li>Pour modifier un paramètre il faut modifier le champ concerné.</li>
<li>Cliquer sur valider.</li>
</ul>
</div>
<div class="section" id="informations-d-un-service">
<h1>Informations d&#8217;un service<a class="headerlink" href="#informations-d-un-service" title="Permalink to this headline">¶</a></h1>
<p>Pour éditer les informations sur un service, suivre les instructions suivantes :</p>
<ul class="simple">
<li>Cliquer sur &#8220;Editer les informations&#8221; situé au-dessus du lien du service concerné.</li>
<li>Pour modifier une information il faut modifier le champ concerné.</li>
<li>Cliquer sur valider.</li>
</ul>
</div>
<div class="section" id="droit-d-acces-a-un-service">
<h1>Droit d&#8217;accès à un service<a class="headerlink" href="#droit-d-acces-a-un-service" title="Permalink to this headline">¶</a></h1>
<p>Pour afficher les groupes qui ont accès à un service, il suffit de passer le curseur au-dessus de &#8220;Droits&#8221; situé au-dessus du lien du service concerné. Les groupes s&#8217;affichent alors.</p>
</div>
<div class="section" id="suppression-de-service">
<h1>Suppression de service<a class="headerlink" href="#suppression-de-service" title="Permalink to this headline">¶</a></h1>
<p>Pour supprimer un service, cliquer sur &#8220;Supprimer&#8221; au-dessus du lien du service concerné. Confirmer pour valider la suppresion. La suppression d&#8217;un service ne supprime en aucun cas le plug-in qu&#8217;il implémente. Aucune donnée n&#8217;est perdue.</p>
</div>
<div class="section" id="changer-le-statut-d-un-service">
<h1>Changer le statut d&#8217;un service<a class="headerlink" href="#changer-le-statut-d-un-service" title="Permalink to this headline">¶</a></h1>
<p>Pour changer le statut d&#8217;un service il suffit de:</p>
<ul class="simple">
<li>Cliquer sur &#8220;Mettre en développement&#8221; pour passer un service en ligne à l&#8217;état précédemment cité.</li>
<li>Cliquer sur &#8220;Mettre en ligne&#8221; pour passer un service en développement à l&#8217;état précédemment cité.</li>
</ul>
</div>
<div class="section" id="gestion-des-administrateurs">
<h1>Gestion des administrateurs<a class="headerlink" href="#gestion-des-administrateurs" title="Permalink to this headline">¶</a></h1>
<p>Cliquer sur &#8220;Liste des administrateurs&#8221; pour accéder à la gestion des administrateurs :</p>
<ul class="simple">
<li>Pour ajouter un utilisateur à la liste des administrateur il faut soit taper directement son nom d&#8217;utilisateur dans la zone de recherche, soit commencer à taper son Nom Prénom et cliquer sur l&#8217;utilisateur désiré.</li>
<li>Cocher &#8220;Super administrateur&#8221; si l&#8217;utilisateur aura les droits de super administrateur.</li>
<li>Cliquer sur valider</li>
</ul>
<p>L&#8217;utilisateur est alors ajouté à la liste des administrateurs
Plus de précisions sur les droits des administrateurs :</p>
<ul class="simple">
<li>Un administrateur n&#8217;a pas accès à la gestion des administrateurs.</li>
<li>Un super administrateur peut ajouter/supprimer des administrateurs et donner le role de super administrateur à un administrateur (en cliquant sur &#8220;Droits super administrateur&#8221;).</li>
<li>Il existe un role de Father Of All, réservé à M. Blindauer.</li>
</ul>
</div>
                </div>
            </div>
        </div>
    </div>
