
    <div class="custom-module-inner">
        <div class="well">
            <div class="row">
                <div class="col-md-3 custom-doc-nav">
                    <ul class="nav nav-tabs nav-stacked affix-top" data-spy="affix" data-offset-top="280" data-offset-bottom="200">
<li><a class="reference internal" href="#service-mysql">Service MySQL</a><ul>
<li><a class="reference internal" href="#creer-une-base">Créer une base</a></li>
<li><a class="reference internal" href="#supprimer-une-base">Supprimer une base</a></li>
<li><a class="reference internal" href="#phpmyadmin">PHPMyAdmin</a></li>
<li><a class="reference internal" href="#mot-de-passe-phpmyadmin-oublie">Mot de passe PHPMyAdmin oublié</a></li>
</ul>
</li>
<li><a class="reference internal" href="#service-stockage">Service Stockage</a><ul>
<li><a class="reference internal" href="#creer-votre-espace-de-stockage">Créer votre espace de stockage</a></li>
<li><a class="reference internal" href="#supprimer-votre-espace-de-stockage">Supprimer votre espace de stockage</a></li>
</ul>
</li>
                    </ul>
                </div>
            <div class="col-md-9">
  <div class="section" id="service-mysql">
<h1>Service MySQL<a class="headerlink" href="#service-mysql" title="Permalink to this headline">¶</a></h1>
<div class="section" id="creer-une-base">
<h2>Créer une base<a class="headerlink" href="#creer-une-base" title="Permalink to this headline">¶</a></h2>
<p>Pour créer une base, il faut remplir le champ de texte avec le nom souhaité et cliquer sur &#8220;Créer&#8221;. La base sera créée, et s&#8217;affichera désormais dans la liste située juste en dessous de la zone de création.</p>
</div>
<div class="section" id="supprimer-une-base">
<h2>Supprimer une base<a class="headerlink" href="#supprimer-une-base" title="Permalink to this headline">¶</a></h2>
<p>Pour supprimer une base, il suffit de cliquer sur le bouton &#8220;Supprimer&#8221; situé à côté de la base que vous désirez supprimer.</p>
</div>
<div class="section" id="phpmyadmin">
<h2>PHPMyAdmin<a class="headerlink" href="#phpmyadmin" title="Permalink to this headline">¶</a></h2>
<p>PHPMyAdmin est une application permettant la gestion de base de données sans pour autant avoir de connaissances particulières en langage SQL. Pour aller sur PHPMyAdmin cliquer sur &#8220;Lien vers PHPMyAdmin&#8221;.</p>
</div>
<div class="section" id="mot-de-passe-phpmyadmin-oublie">
<h2>Mot de passe PHPMyAdmin oublié<a class="headerlink" href="#mot-de-passe-phpmyadmin-oublie" title="Permalink to this headline">¶</a></h2>
<p>Si vous avez oublié votre mot de passe PHPMyAdmin, il suffit simplement de cliquer sur &#8220;Mot de passe phpMyAdmin oublié&#8221; pour voir apparaître en dessous de la barre de navigation. Ne marche que si vous avez une base de données déjà créée.</p>
</div>
</div>
<div class="section" id="service-stockage">
<h1>Service Stockage<a class="headerlink" href="#service-stockage" title="Permalink to this headline">¶</a></h1>
<div class="section" id="creer-votre-espace-de-stockage">
<h2>Créer votre espace de stockage<a class="headerlink" href="#creer-votre-espace-de-stockage" title="Permalink to this headline">¶</a></h2>
<p>Pour créer votre espace de stockage il suffit de cliquer sur &#8220;Créer espace de stockage&#8221;.</p>
</div>
<div class="section" id="supprimer-votre-espace-de-stockage">
<h2>Supprimer votre espace de stockage<a class="headerlink" href="#supprimer-votre-espace-de-stockage" title="Permalink to this headline">¶</a></h2>
<p>Pour supprimer votre espace de stockage il faut cliquer sur &#8220;Supprimer espace de stockage&#8221;.</p>
</div>
</div>
            </div>
            </div>
        </div>
    </div>
