
    <div class="custom-module-inner">
        <div class="well">
            <div class="row">
                <div class="col-md-3 custom-doc-nav">
                    <ul class="nav nav-tabs nav-stacked affix-top" data-spy="affix" data-offset-top="280" data-offset-bottom="200">
<li><a class="reference internal" href="#accueil">Accueil</a></li>
<li><a class="reference internal" href="#mes-groupes">Mes groupes</a></li>
<li><a class="reference internal" href="#statut-des-services">Statut des services</a></li>
<li><a class="reference internal" href="#deconnexion">Déconnexion</a></li>
<li><a class="reference internal" href="#service">Service</a></li>
                    </ul>
                </div>
            <div class="col-md-9">
<div class="section" id="accueil">
<h1>Accueil<a class="headerlink" href="#accueil" title="Permalink to this headline">¶</a></h1>
<p>Pour accéder à la page d&#8217;accueil de l&#8217;application qui est également la page d&#8217;accès à tous les services de l&#8217;application, cliquer sur le logo de l&#8217;application, ou sur le bouton &#8220;Services&#8221;.</p>
</div>
<div class="section" id="mes-groupes">
<h1>Mes groupes<a class="headerlink" href="#mes-groupes" title="Permalink to this headline">¶</a></h1>
<p>Pour connaître son affiliation aux groupes cliquer sur &#8220;NOM Prénom&#8221; dans la barre de navigation. Par exemple &#8220;Mes Groupes&#8221; &gt; ILL_student signifie que je suis étudiant à Illkirch.</p>
</div>
<div class="section" id="statut-des-services">
<h1>Statut des services<a class="headerlink" href="#statut-des-services" title="Permalink to this headline">¶</a></h1>
<p>En ligne : Service disponible et fonctionnel.</p>
</div>
<div class="section" id="deconnexion">
<h1>Déconnexion<a class="headerlink" href="#deconnexion" title="Permalink to this headline">¶</a></h1>
<p>Pour se déconnecter de l&#8217;application cliquer sur le bouton &#8220;Déconnexion&#8221; situé à droite de la barre de navigation.</p>
</div>
<div class="section" id="service">
<h1>Service<a class="headerlink" href="#service" title="Permalink to this headline">¶</a></h1>
<p>Un service est une fonctionnalité de l&#8217;application. Par exemple le service &#8220;Espace de stockage&#8221; est la fonctionnalité de l&#8217;application vous permettant de créer votre espace de stockage. Le service &#8220;MySQL&#8221; permet la création ainsi que la gestion de base de données utilisant MySQL.</p>
</div>
            </div>
            </div>
        </div>
    </div>
